.body-catmat {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

.catmat h1 {
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
}

.catmat .card {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.catmat .btn-primary {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.catmat .btn-primary:hover {
  background-color: #4cae4c;
  border-color: #398439;
}

.catmat .btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.catmat .btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

.catmat .btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.catmat .btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.catmat .table thead th {
  background-color: #343a40;
  color: #fff;
}

.catmat .table-hover tbody tr:hover {
  background-color: #f9f9f9;
}

.catmat .table thead tr:hover {
  background-color: transparent !important; /* Desactiva el efecto hover para el encabezado */
}

.catmat #buscarMaterial {
  border-radius: 20px;
  padding: 5px 15px;
  border: 1px solid #ced4da;
}

.catmat .img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Asegura que la imagen llene el espacio */
  border-radius: 5px;
}

.catmat .table {
  table-layout: fixed;
}

.catmat .table th, .table td {
  text-align: center;
}

.catmat .img-container {
  width: 100px; /* Ajusta el ancho a tu preferencia */
  height: 100px; /* Ajusta la altura si es necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.catmat .table td:nth-child(1) {
  min-width: 100px;
  max-width: 100px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-control, .form-select {
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

